
/* span.navbar{
    color: black;
}
.center{
    justify-content: center !important;
}
.navbar,.register{
    font-family:  'Ubuntu', sans-serif;
}
.register{
    font-weight: 500;

    margin:  auto;
    
} */
/* .bg-primary{
    background-color: rgba(51, 207, 255, 0.5) !important;
} */
/* a.nav-link.btn.btn-primary.boton-select {
    color: white;
} */
/* .container_sombra{
    -webkit-box-shadow: 10px 6px 55px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 6px 55px 9px rgba(0,0,0,0.75);
    box-shadow: 10px 6px 55px 9px rgba(0,0,0,0.75);
    border-radius: 1%;
    background-color: white;
    
    padding-bottom: 20px;
} */

/* .container_tabla{
    margin-left: 20px;
    margin-right: 20px;
} */
label{
    text-decoration-color: black;
    font-family:'Ubuntu', sans-serif ;
}
form{
    width: auto;
    max-width: 70rem;
    margin: 0 auto;

    flex-direction: column;
    justify-content: center;
    align-items: center;;
}
/* body{
    background-color: rgb(200, 200, 200);
} */
/* .table{
    margin-top: 20px;
    border-radius: 2%;
    margin-right: 20px;
} */
/* table.dataTable thead{
    background-color: blueviolet;
    color: aliceblue;
} */
.modal-color{
    background: rgba(126, 9, 235, 0.678);
    background: linear-gradient(0deg, rgba(235,80,9,0.3925945378151261) 0%, rgba(222,70,10,1) 100%);

}
.modal-body{
    background-color: azure;
}
.enviar-form{
    margin-top: 40px;
}
.boton-select{
    margin-top: 5px;
    
}
/* .btn-primary{
    background-color: rgba(71, 51, 255, 0.603) !important;
} */
/* .table{
    border-radius: 20px !important;
} */
/* .bi::before{
    color: blanchedalmond !important;
} */

/* a.text-aling-center{
    position: relative;
    text-align: center;
} */
/*.nav .center {
    position: absolute !important;
    left: 50% !important;
    transform: translatex(-50%) !important;
}*/
.navbar{
    font-size:1.3rem;
    font-weight: bold;
}
.btnc{
    font-weight: bold;
}